@using Microsoft.AspNetCore.Identity
@using GamingStore.Data
@model IEnumerable<GamingStore.Models.Item>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject GamingStoreContext GamingStoreContext

@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Viewer")))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card item-card">
                <a asp-action="Details" asp-route-id="@item.Id">
                    <img class="card-img-top item-image" src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title item-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Viewer")))
                        {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </a>
            </div>
        </div>
    }

</div>