@using GamingStore.Data
@using GamingStore.Models.Relationships
@model GamingStore.ViewModels.Administration.ListOrdersViewModel
@inject GamingStoreContext GamingStoreContext
@addTagHelper *, Vereyon.Web.FlashMessage

@{
    ViewData["Title"] = "Admin Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <strong class="card-title">Orders</strong>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center" id="flash_message"> <flash dismissable="true" /></div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Orders.First().Id)
                            </th>
                            <th>
                                User Email
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Orders.First().OrderDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Orders.First().State)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Orders.First().Store)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Orders.First().Payment.Total)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Order order in Model.Orders)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => order.Id)
                                </td>
                                <td>
                                    <span class="name"> @Html.DisplayFor(modelItem => order.User.Email)</span>
                                </td>
                                <td>
                                    <span class="order_date"> @Html.DisplayFor(modelItem => order.OrderDate)</span>

                                </td>
                                <td>
                                    <span class="order_state"> @Html.DisplayFor(modelItem => order.State)</span>

                                </td>
                                <td>
                                    <span class="store_name"> @Html.DisplayFor(modelItem => order.Store.Name)</span>

                                </td>
                                <td>
                                    <span class="payment_total"> @Html.DisplayFor(modelItem => order.Payment.Total)</span>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        setTimeout(function () {
            $('.alert').fadeOut('slow');
        },
            5000); // <-- time in milliseconds
    </script>
    <script src="/lib/jquery/dist/jquery.js"></script>
}