@model GamingStore.ViewModels.Stores.StoreDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address)
        </dt>
        <dd class="col-sm-10">
            <lable>@Model.Store.Address.ToString()</lable>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.OpeningHours)
        </dt>
        <dd class="col-sm-10">
            <table class="opening_hours">
                <tr>
                    @{
                        foreach (var day in Model.Store.OpeningHours)
                        {
                            <th> @day.DayOfWeek.ToString().Substring(0, 3)</th>
                        }
                    }
                </tr>
                <tr>
                    @{
                        for (var i = 0; i < 7; i++)
                        {
                            var open = "Open" + @i;
                            var close = "Close" + @i;
                            <td>
                                <div>
                                    <lable>@Model.Store.OpeningHours[i].OpeningTime</lable>
                                </div>

                                <div>
                                    <lable>@Model.Store.OpeningHours[i].ClosingTime</lable>
                                </div>
                            </td>
                        }
                    }
                </tr>
            </table>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Store.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
