@model GamingStore.ViewModels.Stores.StoreDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.OpeningHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.OpeningHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Store.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
